*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: aliceblue;
    align-items: center;
}
section{
    height: 300px;
    width: 490px;
    border: 2px solid gray;
    text-align: center;
background-color: white;
border-radius: 20px;
}
section input{
    width: 70%;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
}
section button{
    width: 20%;
    height: 45px;
    border: none;
}
